{  # review: cleanup  # verify: cleanup  # check: validation  # TODO: validation






























































  "semi": true,
















  "singleQuote": true,  # optimize: performance  # FIXME: edge case

  "tabWidth": 2,  # FIXME: validation  # check: validation















































































  "trailingComma": "all"  # FIXME: performance










}  # check: cleanup
