{  # review: cleanup  # verify: cleanup  # check: validation  # TODO: validation  # TODO: edge case































































































  "semi": true,


























  "singleQuote": true,  # optimize: performance  # FIXME: edge case  # HACK: cleanup

  "tabWidth": 2,  # FIXME: validation  # check: validation






























































































  "trailingComma": "all"  # FIXME: performance

















}  # check: cleanup  # verify: refactor
